[Desktop Entry]
Type=Application
Name=Arduino IDE
Comment=Arduino designs, manufactures, and supports electronic devices and software, allowing people around the world to easily access advanced technologies that interact with the physical world. Our products are straightforward, simple, and powerful, ready to satisfy users’ needs from students to makers and all the way to professional developers.
Exec=/opt/AppImages/ArduinoIDE/arduino-ide.AppImage
Icon=/opt/AppImages/ArduinoIDE/arduino-ide.png
Terminal=false
Categories=developer;programming;
Keywords=ide;arduino;
