[Desktop Entry]
Type=Application
Name=NeoVim
Comment=Neovim is a refactor, and sometimes redactor, in the tradition of Vim (which itself derives from Stevie). It is not a rewrite but a continuation and extension of Vim. Many clones and derivatives exist, some very clever—but none are Vim. Neovim is built for users who want the good parts of Vim, and more.
Exec=/opt/AppImages/nvim/nvim
Icon=/opt/AppImages/nvim/nvim-icon.png
Terminal=true
Categories=developer;programming;editor;text
Keywords=vi;vim;nvim;editor;text;
