[Desktop Entry]
Type=Application
Name=ImageMagick
Comment=ImageMagick is a free, open-source software suite, used for editing and manipulating digital images. It can be used to create, edit, compose, or convert bitmap images, and supports a wide range of file formats, including JPEG, PNG, GIF, TIFF, and Ultra HDR.
Exec=/opt/AppImages/ImageMagick/magick
Icon=/opt/AppImages/ImageMagick/imagemagick.png
Terminal=true
Categories=Graphics;Utility;2DGraphics;VectorGraphics;RasterGraphics;Photography;ImageProcessing;
Keywords=image;processing;convert;
